@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  font-family: 'Pirata One', serif;
}

h2 {
  font-family: 'Pirata One', serif;
}

h3 {
  font-family: 'Pirata One', serif;
}

p {
  font-family: 'Pirata One', serif;
}

/*p {*/
/*  font-family: 'Tex Gyre Bonum', serif;*/
/*}*/

@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/PirataOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tex Gyre Bonum';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/texgyrebonum-regular.otf') format('opentype');
}
