@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  font-family: 'Habibi', serif;
}

h2 {
  font-family: 'Habibi', serif;
}

h3 {
  font-family: 'Habibi', serif;
}

p {
  font-family: 'Habibi', serif;
}
